In [1]:
import pandas as pd

In [2]:
from platform import python_version
print(python_version())

3.8.10

In [9]:

from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [14]:
df= next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [21]:
from time import time

In [19]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [20]:
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: user 7.45 s, sys: 1.44 s, total: 8.9 s
Wall time: 24.2 s

In [22]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    
    t_end = time()
    
    print("inserted chunk, took %.3f second" % (t_end - t_start))

inserted chunk, took 24.110 second
inserted chunk, took 24.797 second
inserted chunk, took 24.723 second
inserted chunk, took 24.548 second
inserted chunk, took 24.510 second
inserted chunk, took 24.164 second
inserted chunk, took 24.268 second
inserted chunk, took 24.423 second
inserted chunk, took 23.586 second
inserted chunk, took 23.699 second
inserted chunk, took 24.067 second

/home/z01/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3203: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

inserted chunk, took 23.989 second
inserted chunk, took 16.244 second

StopIteration:

In [28]:
query= """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' and schemaname!= 'information_schema'
"""
pd.read_sql(query,con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [29]:
query= """
SELECT * FROM yellow_taxi_data LIMIT 10
"""
pd.read_sql(query,con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,232560,2,2021-01-07 14:38:05,2021-01-07 14:50:03,1,0.95,1,N,141,229,1,9.0,0.0,0.5,1.84,0.0,0.3,14.14,2.5
1,232561,2,2021-01-07 14:57:13,2021-01-07 15:02:28,1,1.80,1,N,229,263,1,7.0,0.0,0.5,2.06,0.0,0.3,12.36,2.5
2,232562,2,2021-01-07 14:37:59,2021-01-07 14:52:45,1,4.50,1,N,137,261,1,16.5,0.0,0.5,4.95,0.0,0.3,24.75,2.5
3,232563,2,2021-01-07 14:56:09,2021-01-07 14:56:14,1,0.00,5,N,264,264,1,10.0,0.0,0.5,0.00,0.0,0.3,10.80,0.0
4,232564,2,2021-01-07 14:40:12,2021-01-07 15:02:44,2,4.54,1,N,161,7,1,18.0,0.0,0.5,3.50,0.0,0.3,24.80,2.5
5,232565,1,2021-01-07 14:21:50,2021-01-07 14:25:49,1,0.80,1,N,262,236,1,5.0,2.5,0.5,1.65,0.0,0.3,9.95,2.5
6,232566,1,2021-01-07 14:19:25,2021-01-07 14:53:39,2,8.30,1,N,140,17,1,30.5,2.5,0.5,6.75,0.0,0.3,40.55,2.5
7,232567,2,2021-01-07 14:08:23,2021-01-07 14:11:43,2,0.89,1,N,75,74,1,5.0,0.0,0.5,1.74,0.0,0.3,7.54,0.0
8,232568,2,2021-01-07 14:28:29,2021-01-07 14:37:16,2,1.40,1,N,236,238,1,8.0,0.0,0.5,2.82,0.0,0.3,14.12,2.5
9,232569,2,2021-01-07 14:45:16,2021-01-07 14:53:57,1,1.47,1,N,234,158,1,7.5,0.0,0.5,2.16,0.0,0.3,12.96,2.5