In [4]:
!pip install pandas

Requirement already satisfied: pandas in /home/z01/.local/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/z01/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /home/z01/.local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in /home/z01/.local/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/fhv_tripdata_2019-01.csv.gz', compression='gzip')

In [3]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008